.starRating {
  font-size: 14px;
  display: flex;
  align-items: center;
  gap: 0.2em;

  .star {
    color: white;
    background-color: gray;
    border-radius: 0.25em;
    padding: 0.25em;
  }

  &.rate {
    .star {
      cursor: pointer;
    }

    .description {
      margin: 0;
      margin-left: 6px;
    }
  }

  .starNum1 {
    background-color: var(--color-star-1);
  }

  .starNum2 {
    background-color: var(--color-star-2);
  }

  .starNum3 {
    background-color: var(--color-star-3);
  }

  .starNum4 {
    background-color: var(--color-star-4);
  }

  .starNum5 {
    background-color: var(--color-star-5);
  }
}
