.gameHeadingContainer {
  background-color: rgba(0, 0, 0, .5);
  height: 500px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: relative;
}

.gameHeadingImage {
  background-size: cover;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
}

.gameHeading {
  width: 50%;
  height: 80%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-end;
}

.gameSubHeading {
  display: flex;
  margin: 0;
  justify-content: flex-start;
  align-items: center;
}

.gameHeadingTitle, .gameOwner {
  color: white;
  text-shadow: 0 0 10px black;
  margin: 15px;
  padding: 15px;
}

.gameHeadingTitle {
  font-size: 75px;
  border-bottom: 1px solid white;
}

.gameOwner {
  font-size: 20px;
  margin: 0;
}

.gameButtonContainer {
  margin-left: 0;
  display: flex;
  align-items: flex-start;
  bottom: -25px;
  left: 150px
}

.gameDetails {
  margin-top: 50px;
  width: 75%;
  display: grid;
  grid-template-columns: 60% auto;
  grid-template-areas:
    "about details"
    "reviews .";
  gap: 25px;
  position: relative;
}

.about {
  grid-area: about;
  width: 100%;
}

.about p {
  font-size: 20px;
  font-weight: normal;
  margin-top: 10px;
}

.details {
  grid-area: details;
  width: 250px;
  height: max-content;
  display: grid;
  border: 1px solid gray;
  border-radius: 5px;
  position: sticky;
  top: 15px;
}

.details div {
  width: 90%;
  padding: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-bottom: 1px solid gray;
}

.details div:last-child {
  border-bottom: none;
}