.gameReviews {
  grid-area: reviews;
  width: 100%;
}

.gameReviews h2 {
  margin-bottom: 25px;
}

.review {
  padding: 25px;
  padding-left: 0;
  border-bottom: 1px solid gray;
  width: 100%;
}

.reviewRating {
  font-weight: 550;
}

.reviewBody {
  margin-top: 25px;
  text-align: justify;
}

.reviewButtonContainer {
  margin-top: 25px;
}

.star {
  color: white;
  border-radius: 5px;
  background-color: gray;
  margin-left: 2px;
  padding: 5px;
}

.starNum1 {
  background-color: #f27e00;
}

.starNum2 {
  background-color: #fbc418;
}

.starNum3 {
  background-color: #ff8b00;
}

.starNum4 {
  background-color: #ff3b00;
}

.starNum5 {
  background-color: #f20008;
}