.gameReviews {
  grid-area: reviews;
  width: 100%;
}

.gameReviews h2 {
  margin-bottom: 25px;
}

.review {
  padding: 25px;
  padding-left: 0;
  border-bottom: 1px solid gray;
  width: 100%;
}

.reviewRating {
  font-weight: 550;
}

.reviewBody {
  margin-top: 25px;
  text-align: justify;
}

.reviewButtonContainer {
  margin-top: 25px;
}

.star {
  color: white;
  border-radius: 5px;
  background-color: gray;
  margin-left: 2px;
  padding: 5px;
}

.starFilled {
  background-color: red;
}