.auth {
  header {
    width: 100%;
    height: 64px;
    background-color: var(--color-base);
    display: flex;
    justify-content: center;
    align-items: center;

    .logo {
      width: fit-content;
      display: flex;
      align-items: center;
      padding: 0 12px;

      span {
        color: var(--color-text2);
        font-size: 26px;
        font-weight: bold;
        margin-right: 10px;
      }
    }
  }

  .content {
    display: flex;
    height: 750px;
  }

  .left,
  .right {
    width: 50%;
    height: 100%;
  }

  .left {
    display: flex;
    justify-content: flex-end;
    padding-right: 5%;
  }

  .right {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding-left: 5%;
  }

  .formContainer {
    margin-top: 150px;
    width: 300px;

    .formHeading {
      color: var(--color-base);
      text-align: center;
      margin-bottom: 64px;
    }

    .btn {
      width: 100%;
    }
  }

  .imageContainer img {
    width: 450px;
    height: 450px;
  }

  .redirect {
    margin-top: 12px;
    font-size: 12px;
    text-align: right;
    color: var(--color-text3);

    a {
      color: var(--color-text4);

      &:hover {
        text-decoration: underline;
      }
    }
  }
}

.auth.login {
  .orLine {
    margin: 6px 0;
    padding: 0;
    border: none;
    border-top: 1px solid var(--color-text3);
    text-align: center;

    legend {
      padding: 0 12px;
      color: var(--color-text3);
    }
  }
}
