:root {
  --color-base: #d32323;
  --color-text: black;
  --color-text2: white;
  --color-text3: #666;
  --color-text4: #0073bb;
  --color-border: #e6e6e6;
  --color-border2: #c8c8c8;
  --color-star-1: #f27e00;
  --color-star-2: #fbc418;
  --color-star-3: #ff8b00;
  --color-star-4: #ff3b00;
  --color-star-5: #f20008;
}

* {
  box-sizing: border-box;
  color: inherit;
  background-color: inherit;
}

body {
  min-width: fit-content;
  margin: 0;
  font-size: 14px;
  font-family: sans-serif;
}

a {
  text-decoration: none;
}

.btn {
  cursor: pointer;
  white-space: nowrap;
  min-width: fit-content;
  font-size: 16px;
  color: var(--color-text2);
  background-color: var(--color-base);
  text-decoration: none;
  text-align: center;
  padding: 8px 16px;
  border: unset;
  border-radius: 4px;
  box-shadow: none;
}

.btn.small {
  font-size: 12px;
  padding: 4px 8px;
}

.btn.bold {
  font-weight: bold;
}

.btn.translucent {
  background-color: rgba(255, 255, 255, 0.1);
}

.btn.transparent,
.btn.border,
.btn.underline {
  background-color: transparent;
}

.btn.transparent,
.btn.underline {
  border: unset;
  background-color: transparent;
}

.btn.border {
  background: transparent;
  border: 1px solid var(--color-border2);
}

.btn.underline {
  border-radius: unset;
  border-bottom: 2px solid transparent;
}

.btn.underline:hover {
  border-bottom: 2px solid;
}

.btn:hover {
  filter: brightness(1.1);
}

.btn.translucent:hover {
  background-color: rgba(255, 255, 255, 0.3);
}

.btn.transparent:hover,
.btn.border:hover {
  background-color: var(--color-border);
  filter: brightness(0.9);
}
