.searchResults {
  margin-top: 64px;
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.resultCard {
  cursor: pointer;
  padding: 24px;
  width: 888px;
  height: 275px;
  display: inline-flex;
  gap: 16px;
  border: 1px solid #ebebeb;
  border-radius: 4px;
}

.resultCard * {
  margin: 0;
}

.resultCard .photo img {
  width: 220px;
  height: 220px;
  object-fit: cover;
  object-position: center;
  border-radius: 4px;
}

.resultCard .details {
  all: unset;
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.resultCard .title {
  font-size: 20px;
  font-weight: bold;
}

.resultCard .title:hover {
  text-decoration: underline;
}

.resultCard .rating {
  font-size: 14px;
}

.resultCard .rating .star {
  padding: 0.25em;
}
