.gameList {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 45px;
}

.gameContainer {
  text-decoration: none;
  border: 1px solid lightgray;
  border-radius: 5px;
}

.gameImage {
  background-size: cover;
  background-color: gray;
  width: 300px;
  height: 150px;
  border-radius: 4px 4px 0 0;
}

.gameTitle {
  color: black;
  text-align: center;
  font-weight: bold;
  padding: 10px;
}