.headContainer {
  width: 100%;
  height: 600px;
  background-size: cover;
  display: flex;
  justify-content: center;
}

.innerHeadContainer {
  margin-top: 25px;
  width: 50%;
}

.navText {
  color: white;
  font-size: 16px;
  font-weight: bold;
  text-shadow: 0 0 5px black;
  text-decoration: none;
}

.bodyContainer {
  margin: 25px auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 50%;
}

.bodyContainer>p {
  color: #d32323;
  font-size: 24px;
  font-weight: 700;
}