.headContainer {
  width: 100%;
  height: 600px;
  background-size: cover;
  padding-top: 36px;
}

.innerHeadContainer {
  width: 50%;
  /* display: flex;
  flex-direction: column; */
}

.innerHeadContainer .navText {
  color: white;
  font-size: 16px;
  font-weight: bold;
  text-shadow: 0 0 5px black;
  text-decoration: none;
}

.innerHeadContainer .userAuth {
  text-align: end;
}

.innerHeadContainer .home {
  margin-top: 84px;
  margin-bottom: 48px;
  width: fit-content;
  color: white;
  font-size: 48px;
  font-weight: bold;
  text-decoration: none;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 6px;
}

.bodyContainer {
  margin-top: 30px;
  margin-bottom: 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 50%;
}

.bodyContainer > p {
  color: #d32323;
  font-size: 24px;
  font-weight: 700;
  margin-bottom: 30px;
}
