nav {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 60px;
}

nav * {
  list-style-type: none;
  align-items: center;
}

.navBar {
  display: flex;
  justify-content: space-between;
  width: 90%;
}

.navText {
  color: black;
  font-size: 16px;
  font-weight: bold;
  text-shadow: 0 0 5px gray;
  text-decoration: none;
}

.home {
  vertical-align: middle;
}

.logo {
  display: flex;
  justify-content: center;
  text-shadow: none;
}

.logo p {
  color: #d32323;
  font-size: 26px;
  font-weight: bold;
  margin-right: 10px;
}

.userAuth ul {
  display: flex;
  justify-content: space-between;
}

.login {
  margin-right: 25px;
}
