nav {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50px;
}

nav * {
  list-style-type: none;
  align-items: center;
}

.navBar {
  display: flex;
  justify-content: space-between;
  width: 90%;
}

.home {
  vertical-align: middle;
}

.logo {
  display: flex;
  justify-content: center;
}

.logo p {
  font-size: 26px;
  margin-right: 10px;
}

.userAuth ul {
  display: flex;
  justify-content: space-between;
}

.login {
  margin-right: 25px;
}