nav#main {
  width: 100%;
  border-bottom: 1px solid #ebebeb;

  .navBar {
    width: 100%;
    padding: 24px 40px;
    display: grid;
    grid-template-columns: 4fr max-content 3fr 1fr;
    grid-column-gap: 12px;
    align-items: center;

    .navOption {
      color: black;
      font-size: 14px;
      font-weight: bold;
      padding: 8px;
    }

    .home {
      grid-area: 1 / 1 / 2 / 2;
      justify-self: start;

      .logo {
        display: flex;
        justify-content: center;
        align-items: center;
        text-shadow: none;
      }

      .logo span {
        color: #d32323;
        font-size: 26px;
        font-weight: bold;
        margin-right: 10px;
      }
    }

    .searchbarContainer {
      grid-area: 1 / 2 / 2 / 3;
    }

    .options {
      grid-area: 1 / 3 / 2 / 4;
      justify-self: flex-end;
    }

    .userAuth {
      grid-area: 1 / 4 / 2 / 5;
      min-width: 200px;
      font-size: 16px;
      font-weight: bold;
      justify-self: flex-end;
      text-align: end;

      .login {
        color: var(--color-text);
        margin-right: 12px;
      }
    }
  }
}
