.profile {
  position: relative;
}

.profile .icon {
  font-size: 24px;
}

.profileButton {
  background-color: transparent;
  border: none;
}

.profileButton:hover {
  cursor: pointer;
}

.profileMenu {
  width: max-content;
  margin-top: 10px;
  position: absolute;
  z-index: 1;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 25px;
  right: 0;
  background-color: white;
  border-radius: 5px;
  box-shadow: 0 0 10px black;
}

.profileMenu * {
  margin: 15px 0;
}
