.searchbarContainer {
  width: fit-content;
  box-shadow: 0 2px 18px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  background-color: white;
}

.searchForm {
  all: unset;
  display: flex;

  .searchbar {
    position: relative;
  }

  .inputContainer {
    height: 48px;
    padding: 13px 16px;

    input {
      all: unset;
      height: 20px;
      width: 500px;
    }
  }

  .results {
    margin-top: 1px;
    width: 100%;
    padding: 12px;
    box-shadow: 0 2px 18px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    background-color: white;
    position: absolute;
    z-index: 99;

    .result {
      cursor: pointer;
      padding: 6px 12px;
      border-radius: 4px;

      &:hover {
        background-color: gray;
      }
    }
  }

  .btn.search {
    cursor: pointer;
    border: none;
    border-radius: 0 4px 4px 0;
    font-size: 20px;
    width: 48px;
    height: 48px;
  }
}
